.banner{
    background-image: url('https://firebasestorage.googleapis.com/v0/b/tiendasurajpc.appspot.com/o/Anne-E%20(1).jpg?alt=media&token=73b7dc35-f17b-4815-9c26-08c2cd3eacb0');
    background-position: top center;
    background-size: cover;
    padding: 50% 10% 35% 65%;
}